{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is the API documentation for PhoneBookPro",
    "version" : "1.0.0",
    "title" : "The Online Phonebook",
    "contact" : {
      "email" : "alex.201@knights.ucf.edu"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths" : {
    "/PhonebookLogin.php" : {
      "post" : {
        "summary" : "Logs in to phonebookpro app",
        "operationId" : "doLogin",
        "description" : "Logs in to phonebookpro app",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "Login Item",
          "description" : "Login",
          "schema" : {
            "$ref" : "#/definitions/Login"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          },
          "500" : {
            "description" : "Server Error"
          }
        }
      }
    },
    "/PhonebookRegister.php" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Adds a new user",
        "operationId" : "addUser",
        "description" : "Adds a new user to the phonebookpro app database",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "userItem",
          "description" : "User",
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          }
        }
      }
    },
    "/PhonebookSearch.php" : {
      "post" : {
        "summary" : "Searches for user",
        "operationId" : "searchUser",
        "description" : "Search for a user in the phonebookpro app database",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "userItem",
          "description" : "User",
          "schema" : {
            "$ref" : "#/definitions/Search"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          }
        }
      }
    }
  },
  "definitions" : {
    "Login" : {
      "type" : "object",
      "required" : [ "login", "password" ],
      "properties" : {
        "login" : {
          "type" : "string",
          "example" : "SamH"
        },
        "password" : {
          "type" : "string",
          "example" : "test"
        }
      }
    },
    "User" : {
      "type" : "object",
      "required" : [ "userID", "firstName", "lastName" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "example" : "John"
        },
        "lastName" : {
          "type" : "string",
          "example" : "Doe"
        },
        "login" : {
          "type" : "string",
          "example" : "jdoe"
        },
        "password" : {
          "type" : "string",
          "example" : "password123"
        }
      }
    },
    "Search" : {
      "type" : "object",
      "required" : [ "userID", "search" ],
      "properties" : {
        "userID" : {
          "type" : "string",
          "example" : "1"
        },
        "search" : {
          "type" : "string",
          "example" : "Susie"
        }
      }
    }
  },
  "host" : "phonebookpro.me",
  "basePath" : "/API",
  "schemes" : [ "http" ]
}